.root {
    -fx-background-image:url('demande (2).jpg');
}



.anch {
    -fx-background-image:url('kisspng-construction-worker-laborer-architectural-engineer-construction-worker-cliparts-5a872d17ab8613.9596878015188083437026.jpg');
}


/*.anch {
     -fx-background-image:url('');
}*/